/* General Styles */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0.2em;
}
/* Set margin and padding for a div element */
.longborder {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
  
  /* Shorter syntax for margin and padding */
.shortborder {
    margin: 20px auto;
    padding: 10px 20px;
}
  
  /* Set border properties for an image element */
.img {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 10px;
}

#two {
    position: static;
}
#one {
    position: relative;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}
  
h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

h3 {
    margin: 0;
    font-size: 18px;
    text-decoration: wavy;
    color: aqua;
}

p {
    margin: 0em;
    padding: 0rem;
}

section {
    margin-bottom: 20px;
}

img {
    min-width: 0.1;
    max-width: 50%;
}

audio,
video {
    display: block;
    margin-bottom: 20px;
}

/* Header */

header {
    background-color: rgb(90,90,90);
    color: white;
    color: hsl(0, 50%, 90%);
    text-align: center;
}

/* Navigation */

nav {
    background-color: #eee;
    padding: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Form */

form {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Details */

details {
    margin: 20px;
}

/* Other */

hr {
    margin: 20px;
    border: none;
    border-top: 1px solid #ccc;
}
