/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;

  }
  
  /* Header styles */
  header {
    background-color: #181c5c55;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    background-color: rgb(24, 28, 85);
    margin: 0;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    color: gray;
    color: hsl(0, 2%, 35%)
  }
  
  h3 {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  
  /* Main section styles */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  ul, ol {
    margin: 0;
    padding-left: 20px;
  }
  
  li {
    list-style: none;
  }
  
  b {
    font-size: 20px;
    text-decoration: underline;
  }
  
  p {
    margin: 0;
  }
  
  i {
    font-style: italic;
  }
  
  hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px 0;
  }
  
  /* Form styles */
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  fieldset {
    border: none;
    padding: 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #333;
    color: #fff;
  }
  